config/configstore
config/fish/secrets.fish
config/gatsby
config/gcloud
config/gh
config/hub
config/sanity
config/yarn/global/node_modules

local/share/fish/fish_history
local/share/fish/fish_read_history